@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.ip-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ip-dfw {
  display: flex;
  flex-wrap: wrap;
}

.ip-justify-content-between {
  justify-content: space-between;
}

.ip-justify-content-center {
  justify-content: center;
}

.ip-align-content-between {
  align-content: space-between;
}

.ip-align-items-center {
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--ip-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--ip-bg);
  }
  a:hover svg path{
    fill: var(--ip-bg);
  }
}

/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */