@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.ip-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ip-dfw {
  display: flex;
  flex-wrap: wrap;
}

.ip-dgrid {
  display: grid;
}

.ip-justify-content-between {
  justify-content: space-between;
}

.ip-justify-content-center {
  justify-content: center;
}

.ip-align-content-between {
  align-content: space-between;
}

.ip-align-items-center {
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--ip-primary);
  transition: 0.4s;
  padding: 3px;
}

.ip-btn {
  transition: all 0.2s ease;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--ip-bg);
  border: 1px solid var(--ip-bg);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.ip-btn svg {
  fill: #fff;
}

@media (hover: hover) {
  a:hover {
    color: var(--ip-bg);
  }
  a:hover svg path{
    fill: var(--ip-bg);
  }

  .ip-btn:hover {
    background-color: #fff;
    color: var(--ip-bg);
  }
}

/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */